input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #3d85c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #226197;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .booklist{
    background-color: #53B1D9;
    margin-top: 70px;
  }
  .bookB{

    width: 80%;
    height: 90px;
    background-color: white;
    opacity: 0.9;
    padding-top: 10px;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    margin-left: 20px;
    margin-top: 5px;
  }
 .from{
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;

 }
 .to{
  font-size: 25px;
  margin-left: 20px;
  margin-top: 5px;

 }
 .mbali{
   float: right;
 }
